<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="Pentland Scoreboard App"
        android:icon="@mipmap/pentland_logo"
        android:roundIcon="@mipmap/pentland_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScoreboardApp"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <activity
            android:name="ScoreBoardActivity"
            android:exported="true"
            android:label="ScoreBoardActivity"
            android:theme="@style/Theme.ScoreboardApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="AddScoreActivity"
            android:exported="true"
            android:label="AddScoreActivity"
            android:theme="@style/Theme.ScoreboardApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>